@import "./bootstrap-5.3.7/bootstrap-5.3.7/scss/functions";
@import "./bootstrap-5.3.7/bootstrap-5.3.7/scss/variables";


$h7-font-size: 1.5rem;
$h8-font-size: 1rem;
$h9-font-size: 0.75rem;
$h10-font-size: 0.50rem;


$custom-font-sizes: (
  7: $h7-font-size,
  8: $h8-font-size,
  9: $h9-font-size,
  10: $h10-font-size,
);

$font-sizes : map-merge($font-sizes, $custom-font-sizes);



$new-border-widths: (
    6 : 6px,
    7 : 7px,
    8 : 8px,
    9 : 9px,
    10: 10px,
);

$border-widths: map-merge($border-widths, $new-border-widths);


$new-grid-gutter-width: (0.5rem);

$grid-gutter-width: map-merge($grid-gutter-width, $new-grid-gutter-width);


@import "./bootstrap-5.3.7/bootstrap-5.3.7/scss/bootstrap";
